/*couleur fond menus*/
$Couleurfond-omf:#569c87;
$couleurfond-m1note:#fcdfda;
$couleurfond-m2chic:#fff5fe;
$couleurfond-m3delice:#f9f9f9;
$couleurfond-m4palette:#fdfffd;

/*couleurs police menus*/
$Couleurlettres-omf:#f1c64d;
$colormusic:-webkit-linear-gradient(0deg, rgba(243,103,4,1) 0%, rgba(241,185,62,1) 100%); 
$colornote:#411f19;
$colorchic:-webkit-linear-gradient(0deg, rgba(243,103,4,1) 0%, rgba(111,55,223,1) 100%);   
$colordelice:-webkit-linear-gradient(0deg, rgba(18,26,232,1) 5%, rgba(30,170,232,1) 91%);
$colorpalette:-webkit-linear-gradient(0deg,  rgba(48,141,38,1) 0%, rgba(198,244,65,1) 68%); 

/*police menus page d'accueil*/
$fontmenu1note:'Croissant One', cursive;
$fontmenu2chic: 'Gelasio', serif;
$fontmenu3delice: 'Dancing Script', cursive;
$fontmenu4palette:'Kaushan Script', cursive;

/* police recettes menus*/
$recettesmenu134: 'Kalam', cursive;
$fontohmyfood: 'Roboto Slab', serif;

/*color menu chic*/
$colorchicentree:#e16022;
$colorchicplat:#b24f70;
$colorchicdessert:#7a3bcc;

/*color menu delice*/
$colordelientree: rgba(18,26,232,1);
$colordeliplat: rgb(18, 93, 232);
$colordelidess:  rgba(30,170,232,1);

/*color background palette */

$colortraitpaletteg: linear-gradient(0.25turn, #308d26, #c6f441);
$colortraitpaletted: linear-gradient(0.25turn, #c6f441,  #308d26);

$colortraitchic: linear-gradient(0.25turn, #ffffff, #e16022, #ffffff);

$animate: all 0.2s ease-in-out;

